/*subtitulos de fotos */
.vaso1 {
  display: flex;
  left: 10px;
  bottom: 50px;
  color: #b0f7cc; }

.mateAntiVuelco1 {
  color: #b0f7cc;
  position: relative;
  left: 50px;
  bottom: 10px; }

.Diaria {
  color: #b0f7cc;
  left: 100px; }

.botellita_Kids {
  position: relative;
  text-align: center;
  color: #b0f7cc;
  right: 100px; }

bowl {
  color: #b0f7cc; }

.minibowlstitulo {
  position: relative;
  color: #b0f7cc;
  left: 100px; }

.subtitulo_Canastam {
  display: flex;
  color: #b0f7cc;
  left: 50px; }

.subtituloOrganizador {
  position: relative;
  bottom: 400px;
  left: 700px;
  color: #b0f7cc; }

/*titulos principales dentro del menu*/
.titulovasostermicos {
  text-align: center;
  color: #b0f7cc;
  font-family: 'Amatic SC', cursive;
  font-size: 45px; }
  .titulovasostermicos a {
    text-decoration-line: none; }

.titulobotellas {
  text-decoration-line: none;
  text-align: center;
  color: #b0f7cc;
  font-family: "Amatic SC", cursive;
  font-size: 45px; }
  .titulobotellas a {
    text-decoration-line: none; }

.titulomates {
  text-decoration: none;
  text-align: center;
  color: #b0f7cc;
  font-family: "Amatic SC", cursive;
  font-size: 45px; }
  .titulomates a {
    text-decoration-line: none; }

.titulobowl {
  text-decoration: none;
  text-align: center;
  color: #b0f7cc;
  font-family: 'Amatic SC', cursive;
  font-size: 45px; }
  .titulobowl a {
    text-decoration-line: none; }

.tituloOrganizadores {
  text-decoration: none;
  text-align: center;
  color: #b0f7cc;
  font-family: 'Amatic SC', cursive;
  font-size: 45px; }
  .tituloOrganizadores a {
    text-decoration-line: none; }

.tituloContactanos {
  text-decoration: none;
  text-align: center;
  color: #b0f7cc;
  font-family: "Amatic SC", cursive;
  font-size: 45px; }
  .tituloContactanos a {
    text-decoration-line: none; }
