
.tituloContactanos{ 
    text-decoration: none;
    text-align: center;
    color: #b0f7cc;   
    font-family:"Amatic SC", cursive ;
    font-size: 45px;
}
/*ubicación y animaciones cajas contactanos*/

.form-control-contanos{
    position: relative;
    left:60px;
    top:10px;
    width: 500px;
}
.floatingTextarea{
    position: relative;
    bottom:170px;
    
}
