

.tituloPrincipal{
    text-align: center;
    color: #f7b0c8;
    font-family: 'Pacifico', cursive;
}



/*pseudoclases1*/


.vasos::before{
    content:"♥"
}
.organizadores::before{
    content: "♥";
}
.botelltas::before{
    content: "♥";
}
.mates::before{
    content:"♥";
}
.bowls::before{
    content:"♥";
}
.contacto::before{
    content: "♥";
}

.vasos::after{
    content:"♥"
}
.organizadores::after{
    content:"♥"
}
.botellas::after{
    content:"♥"
}
.mates::after{
    content:"♥"
}
.bowls::after{
    content:"♥";
}
.contacto::after{
 content:"♥"
}

/*titulos fotos index*/

.fotos_index a{
text-decoration-line: none;
}
.titulovasosindex{
    position: relative;
    font-size: 25px;
    color: #b0f7cc;
    font-weight: bold;
    left:100px;
}

.tituloorganizadoresindex{
    position: relative;
    font-size: 25px;
    color: #b0f7cc;
    font-weight: bold;
    left:50px;
}

.titulobotellaindex{
    position: relative;
    font-size: 25px;
    color: #b0f7cc;
    font-weight: bold;
    left:80px;
}

                                              /*Menu +  bootstrap*/
  .menu{
  font-family:'Amatic SC', cursive;
   display: flex;
 justify-content:center;
   background-color: #f7b0c9;
 color: white;
                                              
  }
                                           
  .menu{
   display:flex;
 a{
  text-decoration-line: none;
  }
                                           
  .vasos{   
   font-size: 35px;
 &:hover{
  font-size: 45px ;
  transition: font size 2s;
 }
                                                                             
  .botellas{ 
                                              
  font-size: 35px;
   display: inline;
  color: #ffffff;
  &:hover{
  font-size: 45px ;
  transition: font size 2s;
   }
                                           
 .organizadores{
 display:flex;
  text-decoration-line: none;
 font-size: 35px;  
  color: #ffffff;  
 &:hover{
   font-size: 45px ;
transition: font size 2s;
   }
                                           
 .mates{ 
 font-size: 35px;
display: inline;
color: #ffffff;   
 &:hover{
  font-size: 45px ;
  transition: font size 2s;
  }
                                           
  .bowls{
   font-size: 35px;
  display:inline;    
   color: #ffffff;;
   &:hover{
 font-size: 45px ;
  transition: font size 2s;
 }
 .contacto{
  font-size: 35px;
  display:inline; 
  color: #ffffff;   
  &:hover{
   font-size: 45px ;
   transition: font size 2s;
  }
  }