/*título principal dentro de la pestaña*/
.mateAntiVuelco1{  
    color: #b0f7cc;
    position:relative;
    left:50px;
    bottom:10px;
}


/*subtitulo*/

.titulomates{
    text-decoration: none;
    text-align: center;
    color: #b0f7cc;
    font-family: "Amatic SC", cursive;
    font-size: 45px;
    
}

/*Ubicación foto*/

.fotomate{
    bottom:30px;
    left:50px;
 }


 /*labels*/
 .elegieltuyomates{
    position:relative;
    top:5px;
    left:50px;
}
.elegimates{
    position:relative;
    top:5px;
    left: 50px;
}
