/*map & map-get*/
$redes:(
    escribinos: color green,
    facebook:  color blue,
    
)
$estilos:(
    1 rem: 1 rem,
)

@each $green $color in $redes {
    .btn--#{$green}{
    background-color:$color,
    }
    1 rem: map-get ($estilos, 1 rem)
}