@import "variables";
@import "botellas";
@import "bowls";    
@import "contactanos";                                
@import "index";
@import "mates";
@import "organizadores";
@import "vasos";


    /*       MOBILE RESPONSIVE */
   
@media screen and (max-width: 480px) {
*/
/*index*/

.padrefotosindex{
    display: flex;
    flex-flow: row wrap;
}
/*pestaña vasos*/

.padrevasos1{
    display: flex;
    flex-flow: row wrap;
}

/*no se de que quedo */


/*pestaña organizadores*/


/*pestaña bowls*/

.padre_bowls{
    display: flex;
    flex-flow: row wrap;
}}
   